li a {
    color: green;
}

body {
    background: white url("images/background.png") no-repeat right bottom;
}

body {
	margin: 0;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	background-color: #fff;
}
a {
	color: #005e8d;
	text-decoration: none;
}